# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

dist

# dependencies
**node_modules
/.pnp
.pnp.js

# testing
/coverage

# mcert
${CERT_FILEPATH}
${CERT_KEY_FILEPATH}
certs

# production
/build
build/
extension/build/
*/build
extension/build/*

npm-debug.log*
yarn-debug.log*
yarn-error.log*


venv
venv2
local_settings.py
*.sqlite
*.sqlite3
.vscode
.DS_Store
.huskyrc.json
out
node_modules
*.pyc
*.vsix
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids
.nyc_output
.vscode-test
__pycache__
npm-debug.log
**/.mypy_cache/**
!yarn.lock
coverage/
.vscode-test/**
.vscode test/**
.vscode-smoke/**
**/.venv*/
port.txt
precommit.hook
pythonFiles/experimental/ptvsd/**
pythonFiles/lib/**
debug_coverage*/**
languageServer/**
languageServer.*/**
obj/**
.pytest_cache
tmp/**
.vs/
test-results.xml
!build/
*.sqlite
.env*
!.env-example
old
tmp
*sqlite-joural
*sqlite-journal
verify_*.txt
*.bak
.now
app/.serverless
app/static
